---
import type { DataEntryType } from "astro";
import { getCollection } from "astro:content";

import Main from "../../layouts/Main.astro";

const maxPosts = 2;

const posts = (await getCollection("blog")).sort(
  (
    a: {
      id: string;
      slug: string;
      body: string;
      collection: string;
      data: {
        title: string;
        description: string;
        pubDate: Date;
        updatedDate?: Date | undefined;
      };
    },
    b: {
      id: string;
      slug: string;
      body: string;
      collection: string;
      data: {
        title: string;
        description: string;
        pubDate: Date;
        updatedDate?: Date | undefined;
      };
    },
  ) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);

const showPosts = posts.slice(0, maxPosts);
const remainingPosts = posts[maxPosts] ? posts.slice(maxPosts).length : 0;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <Main>
    <h1>Blog</h1>
    <section>
      <h2>Posts</h2>
      {
        showPosts.map(
          (post: {
            slug: any;
            data: {
              title: unknown;
              description: unknown;
              pubDate: {
                toISOString: () => string | null | undefined;
                toLocaleDateString: (
                  arg0: string,
                  arg1: { year: string; month: string; day: string },
                ) => unknown;
              };
            };
          }) => (
            <div class="notice">
              <a href={`/blog/${post.slug}/`}>
                <h4 class="title">{post.data.title}</h4>
              </a>
                <p class="description">{post.data.description}</p>
                <p class="date">
                  <time datetime={post.data.pubDate.toISOString()}>
                    {post.data.pubDate.toLocaleDateString("en-us", {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    })}
                  </time>
                </p>
            </div>
          ),
        )
      }
    </section>
    
      {remainingPosts > 0 ? (
        <strong>{remainingPosts} Hidden</strong>
      ) : null}
  </Main>

</html>
