---
import Tags from "./Tags.astro";

import { type CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"blog">;
};

const {
  data: { title, description, tags, category },
  slug,
} = Astro.props.post;

---

<article>
  <a href=`/blog/${slug}`>
    <h2>{title}</h2>
  </a>
  <p>{description}</p>
  <div>
    <p><strong>category:</strong>
    <a href=`/blog/categories/${category}`>{category}</a></p>
  </div>
  <div>
    <strong>tags:</strong>
    <Tags {tags} />
  </div>  
</article>

<style>
  article {
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    border: 1px solid darkslategray;
    border-radius: 0.5rem;
    margin-bottom: 0.25rem;
  }
</style>
