---
import { getEntry } from "astro:content";

import Main from "../../../../layouts/Main.astro";
import Tags from "../../../../components/Tags.astro";
import BackButton from "../../../../components/Navigation/BackButton.astro";

import { Categories } from "../../../../content/config";

const { slug, category } = Astro.params;

const entry = await getEntry(
  "blog",
  `categories/${category}/${slug}` as string,
);

if (!entry) {
  return Astro.redirect("/404");
}
const { tags, title } = entry.data;
const { Content } = await entry.render();
const pageName = title;
---

<Main {pageName}>
  <p>
    <strong>category: </strong><a href=`/blog/categories/${category}`
      >{category}</a
    >
  </p>
  <p><strong>tags: </strong><Tags {tags} /></p>
  <br />
  <Content />
  <BackButton />
</Main>
